<div class="container-tips">
  <div class="d-flex flex-column">
    <img class="tips-img" src="../../../assets/img/imagesU/Tips-unimarc.png">
    <div class="d-flex flex-row">
      <div class="card-tips d-flex flex-row">
        <img class="video-frame" src="../../../assets/img/imagesU/tips-img-one.png">
        <div class="white-right">
          <div class="text-card">
            <p class="category">Decoración</p>
            <h4 class="title-tips">Guirnaldad Dieciocheras</h4>
            <p class="description-tips">Te explicamos en simples pasos como hacer guirnaldas dieciocheras.</p>
          </div>
        </div>
      </div>
      <div class="card-tips d-flex flex-row">
        <img class="video-frame" src="../../../assets/img/imagesU/tips-img-two.png">
        <div class="white-right">
          <div class="text-card">
            <p class="category">Limpieza</p>
            <h4 class="title-tips">Quita el sarro de tu hervidor</h4>
            <p class="description-tips">Manten tu hervidor libre de sarro con estos consejos.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="point-slide">
      <img class="point red" src="../../../assets/img/icons/point.svg" alt="point">
      <img class="point" src="../../../assets/img/icons/point.svg" alt="point">
      <img class="point" src="../../../assets/img/icons/point.svg" alt="point">
      <img class="point" src="../../../assets/img/icons/point.svg" alt="point">
      <img class="point" src="../../../assets/img/icons/point.svg" alt="point">
    </div>
  </div>
</div>

