<div class="shopping-cart-banner my-5 mx-5">
    <div class="d-flex flex-row align-items-center">
    <h2>CARRO DE COMPRAS</h2>

      <div class="d-flex justify-content-end flex-fill">
        <img style="width: 20rem;" src="../../../assets/img/shoppingCart/Tarjeta Unimarc.png"
            alt="tarjeta unimarc">
        <img style="width: 16rem;" src="../../../assets/img/shoppingCart/Pancho Saavera Banner.png"
            alt="pancho saavedra">
        </div>
    </div>
</div>

<div class="d-flex flex-row">
  <div class="container table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col"><h3>Producto</h3></th>
          <th scope="col"><h3>Precio</h3></th>
          <th scope="col"><h3>Cantidad</h3></th>
          <th scope="col"><h3>Sub-Total</h3></th>
        </tr>
      </thead>
      <tbody *ngFor="let item of lineItems; index as i">
        <tr>
          <td><img class="cartIcon" src="{{item.image}}" alt="{{item.name}}">
                {{item.name}}
                <label>Eliminar</label>
            </td>
          <td>$ {{item.price}}</td>
          <td><span>{{item.quantity}}
              <button class="btn" (click)="increase(item)">
                <img class="cartIcon" src="../../../assets/img/shoppingCart/Sumar.png" alt="sumar">
              </button>
              <button class="btn" (click)="decrease(item)">
                <img class="cartIcon" src="../../../assets/img/shoppingCart/Restar.png" alt="restar">
              </button>
          </span></td>
          <td><span>{{item.total}}</span></td>
        </tr>
      </tbody>
    </table>
  </div>

  <app-purchase [cart]="cart"></app-purchase>
</div>
