  <!-- Footer -->
  <footer class="page-footer font-small dark-color clear-text">

    <div class="warning-stamps">
      <div class="d-flex justify-content-center">

        <!-- Grid row-->
        <div class="row py-4 d-flex align-items-center">
          <div>
            <img class="logo-gob" src="../../../assets/img/imagesU/logo-gob.png">
          </div>
          <div>
            <h6 class="mb-0 varta">PREFIERE ALIMENTOS CON MENOS SELLOS DE ADVERTENCIA</h6>
          </div>
        </div>
        <!-- Grid row-->

      </div>
    </div>

    <!-- Footer Links -->
    <div class="dark-color">

      <!-- Grid row -->
      <div class="row mt-5">
<div class="d-flex justify-content-center">
<!-- Grid column -->
        <div class="col-width-one">
         <div class="mr-5">

          <!-- Content -->
          <img src="../../../assets/img/imagesU/logo-blanco-unimarc.png">
          <h6 class="pt-4 clarendon-bold-max">Servicio al cliente:</h6>
          <p class="apex-regular">Consultas, reclamos y sugerencias
          </p>
          <div class="row">
            <img class="iconrd-s" src="../../../assets/img/icons/Telefono.svg">
            <p class="clarendon-bold-min mt-3">6006000025</p>
          </div>

          <div class="row">
            <img class="iconcorreo-s" src="../../../assets/img/icons/correo.svg">
            <p class="clarendon-regular ml-3 mt-3">contacto.unimarc@unimarc.cl</p>
          </div>

          <div class="column">
            <h4 class="text-center">Siguenos en</h4>
            <div class="d-flex justify-content-center row">
              <img class="icon-color" src="../../../assets/img/imagesU/Facebook-color.png" alt="">
              <img class="icon-color" src="../../../assets/img/imagesU/Twitter-color.png" alt="">
              <img class="icon-color" src="../../../assets/img/imagesU/YouTube-color.png" alt="">
            </div>
            <div class="d-flex justify-content-center mb-1">
              <img src="../../../assets/img/imagesU/like-fb.png" alt="">
            </div>
          </div>
        </div>

        </div>

        <!-- Grid column -->
        <div class="vl"></div>
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-width-two">

          <p>
            <a href="#!">Código de Ética</a>
          </p>

          <p>
            <a href="#!">Canal de Denuncia</a>
          </p>

          <p>
            <a href="#!">100% Nuestro</a>
          </p>

          <p>
            <a href="#!">Unired</a>
          </p>

          <p>
            <a href="#!">Tarjeta Unimarc</a>
          </p>

          <p>
            <a href="#!">Giftcard</a>
          </p>

          <p>
            <a href="#!">Las Frutas y Verduras</a>
          </p>

          <p>
            <a href="#!">Recupera tu boleta aquí</a>
          </p>

          <p>
            <a href="#!">Normas generales de aprovisonamiento de mercadería</a>
          </p>

          <p>
            <a href="#!">Defensoría del Proveedor</a>
          </p>

        </div>
        <!-- Grid column -->
        <div class="vl"></div>
        <!-- Grid column -->
        <div class="col-md-5 col-lg-3">
          <p>
            <a href="#!">Bases de concurso “Encuesta Nombres e Imagen de Marcas”</a>
          </p>
          <p>
            <a href="#!">Bases de concurso “Gana una giftcard virtual en live de Socios 4.0”</a>
          </p>
          <p>
            <a href="#!">Bases de concurso “Recomendación Perfumeria Unimarc”</a>
          </p>
          <p>
            <a href="#!">Bases Legales Campaña Unidos</a>
          </p>
          <p>
            <a href="#!">Ganadores Encuesta Julio</a>
          </p>
          <p>
            <a href="#!">Modificación y Vigencia Bases Legales Campaña Unidos</a>
          </p>
          <p>
            <a href="#!">Renovación De Vigencia Y Modificación Campaña Unidos</a>
          </p>
          <p>
            <a href="#!">Términos y condiciones programa de fidelización "Club Ahorro"</a>
          </p>

        </div>
        <!-- Grid column -->
        <div class="vl"></div>
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-width-four">
          <p>
            <a href="#!">Club Ahorro y Telemercados: Tu compra más fácil y sin salir de tu casa</a>
          </p>
          <p>
            <a href="#!">Medidas Coronavirus Unimarc</a>
          </p>
          <p>
            <a href="#!">Unimarc - Compra con responsabilidad</a>
          </p>
          <p>
            <a href="#!">Bases de Promoción "25% dcto. en la primera compra con Tarjeta Unimarc"</a>
          </p>
          <p>
            <a href="#!">Ganadores de Concurso "Encuesta de Satisfacción"</a>
          </p>
          <p>
            <a href="#!">Bases de Concurso "Encuesta NPS Unimarc"</a>
          </p>
          <p>
            <a href="#!">Bases de Concurso "Encuesta Club Ahorro"</a>
          </p>
          <p>
            <a href="#!">Bases de Concurso "Encuesta Club Ahorro"</a>
          </p>
        </div>
        <!-- Grid column -->
      </div>
      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

  </footer>

<!-- Footer -->
