<header class="full-header">
  <div class="red-header d-flex flex-row">
    <div class="red-menu-container">
      <a href="https://www.unimarc.cl/corporativo/nuestra-empresa/" class="clear-text apex">Nuestra Empresa</a>
      <span class="slash">/</span>
      <a href="https://www.unimarc.cl/corporativo/proveedores/" class="clear-text apex">Proveedores</a>
      <span class="slash">/</span>
      <a href="https://www.unimarc.cl/corporativo/contacto/" class="clear-text apex">Contacto</a>
      <span class="slash">/</span>
      <a href="https://rbksmu.rubrika.cl/postulacionGW.php?token=R1JabUhTZmV3eDIrN3VwcHpFSW5aNWJtVmtBZXl4Z0tSOFYvV1pQSHhaOGFWMjVFRHd2dHJWV3VRb2RsVVFtSHJwUnB2YStDemdJdXQrQ2tLekxOd0E9PQ" class="clear-text apex">Trabaja con nosotros</a>
    </div>
    <div>
      <p class="clear-text clarendon">Servicio al cliente 600 600 0025</p>
    </div>
    <div>
      <img src="" alt="">
      <img src="" alt="">
      <img src="" alt="">
      <img src="" alt="">
      <img src="" alt="">
    </div>
    <div class="d-flex flex-row">
      <button class="btn sign-up">Ingreso</button>
      <button class="btn sign-in">Registro</button>
    </div>
    <div>
      <img src="" alt="">
    </div>
  </div>

  <div class="white-header">
    <div class="white-menu-container">
      <a href="" class="dark-text">HOME</a>
      <span class="">/</span>
      <a href="" class="dark-text">CATÁLOGO</a>
      <span class="">/</span>
      <a href="" class="dark-text">CLUB AHORRO</a>
      <span class="">/</span>
      <a href="" class="dark-text">RECETAS</a>
      <span class="">/</span>
      <a href="" class="dark-text">OFERTAS</a>
      <span class="">/</span>
      <a href="" class="dark-text">LOCALES Y HORARIOS</a>
    </div>
  </div>
</header>

