<header class="full-header">
  <div class="red-header">
    <div>
      <a href="https://www.unimarc.cl/corporativo/nuestra-empresa/">Nuestra Empresa</a>
      <span>/</span>
      <a href="https://www.unimarc.cl/corporativo/proveedores/">Proveedores</a>
      <span>/</span>
      <a href="https://www.unimarc.cl/corporativo/contacto/">Contacto</a>
      <span>/</span>
      <a href="https://rbksmu.rubrika.cl/postulacionGW.php?token=R1JabUhTZmV3eDIrN3VwcHpFSW5aNWJtVmtBZXl4Z0tSOFYvV1pQSHhaOGFWMjVFRHd2dHJWV3VRb2RsVVFtSHJwUnB2YStDemdJdXQrQ2tLekxOd0E9PQ">Trabajo con nosotros</a>
    </div>
  </div>

  <div class="white-header">

  </div>
</header>

