<div class="row">
    <div class="col">
      <div ngbDropdown class="d-inline-block dropdown">
        <button class="btn" id="dropdownBasic1" ngbDropdownToggle>
            <img src="../../../assets/img/icons/Ingrediente Principal.svg" alt="ingrediente principal" style="width: 3.3125rem; height: 4.5rem">
            Ingrediente Principal
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown">
            <button ngbDropdownItem>
                <img src="../../../assets/img/icons/Carne.svg" alt="carne" style="width: 4.5rem; height: 4.5rem;">  
                Carne
            </button>
            <button ngbDropdownItem>
                <img src="../../../assets/img/icons/Cerdo.svg" alt="carne de cerdo">
                Carne de Cerdo
            </button>
            <button ngbDropdownItem>
                <img src="../../../assets/img/icons/Frutas.svg" alt="frutas">
                Frutas
            </button>
            <button ngbDropdownItem>
                <img src="../../../assets/img/icons/Legumbres.svg" alt="legumbres">
                Legumbres
            </button>
            <button ngbDropdownItem>
                <img src="../../../assets/img/icons/Mariscos.svg" alt="mariscos">
                Mariscos
            </button>
            <button ngbDropdownItem>
                <img src="../../../assets/img/icons/Pescado.svg" alt="pescado">
                Pescado
            </button>
            <button ngbDropdownItem>
                <img src="../../../assets/img/icons/Gallina.svg" alt="pollo">
                Pollo
            </button>
        </div>
      </div>
    </div>

    <div class="col">
        <div ngbDropdown class="d-inline-block dropdown">
            <button class="btn" id="dropdownBasic1" ngbDropdownToggle>
              <img src="../../../assets/img/icons/Mundo.svg" alt="recetas del mundo">  
              Recetas del Mundo
            </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown">
            <button ngbDropdownItem>
                <img src="../../../assets/img/icons/Alemania.svg" alt="alemana">
                Alemana</button>
            <button ngbDropdownItem>
                <img src="../../../assets/img/icons/Americana.svg" alt="americana">
                Americana
            </button>
            <button ngbDropdownItem>
                <img src="../../../assets/img/icons/Chilena.svg" alt="chilena">
                Chilena
            </button>
            <button ngbDropdownItem>
                <img src="../../../assets/img/icons/España.svg" alt="española">
                Española
            </button>
            <button ngbDropdownItem>
                <img src="../../../assets/img/icons/Mexicana.svg" alt="mexicana">
                Mexicana
            </button>
            <button ngbDropdownItem>
                <img src="../../../assets/img/icons/Peruana.svg" alt="peruana">
                Peruana
            </button>
            <button ngbDropdownItem>
                <img src="../../../assets/img/icons/Venezolana.svg" alt="venezolana">
                Venezolana
            </button>
          </div>
        </div>
      </div>

      <div class="col">
        <div ngbDropdown class="d-inline-block dropdown">
            <button class="btn" id="dropdownBasic1" ngbDropdownToggle>
              <img src="../../../assets/img/icons/Momento del dia.svg" alt="tipo de plato">
                Tipo de Plato
            </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown">
            <button ngbDropdownItem (click)="filter('ensaladas')">
                <img src="../../../assets/img/icons/Ensaladas.svg" alt="ensaladas">
                Ensaladas
            </button>
            <button ngbDropdownItem (click)="filter('picoteo')">
                <img src="../../../assets/img/icons/Picoteo.svg" alt="picoteo">
                Picoteo
            </button>
            <button ngbDropdownItem (click)="filter('principal')">
                <img src="../../../assets/img/icons/Momento del dia.svg" alt="plato principal">
                Plato Principal
            </button>
            <button ngbDropdownItem (click)="filter('postre')">
                <img src="../../../assets/img/icons/Postres.svg" alt="postres">
                Postres
            </button>
            <button ngbDropdownItem (click)="filter('saludable')">
                <img src="../../../assets/img/icons/Saludable.svg" alt="saludables">
                Saludables
            </button>
            <button ngbDropdownItem (click)="filter('sopas y cremas')">
                <img src="../../../assets/img/icons/Sopas.svg" alt="sopas y cremas">
                Sopas y Cremas
            </button>
            <button ngbDropdownItem (click)="filter('vegano')">
                <img src="../../../assets/img/icons/Vegano.svg" alt="Vegano">
                Vegano
            </button>
            <button ngbDropdownItem (click)="filter('vegetariano')">
                <img src="../../../assets/img/icons/Vegetariano.svg" alt="vegetariano">
                Vegetariano
            </button>
          </div>
        </div>
      </div>

      <div class="col">
        <div ngbDropdown class="d-inline-block dropdown">
            <button class="btn" id="dropdownBasic1" ngbDropdownToggle>
                <img src="../../../assets/img/icons/Sandwich.svg" alt="momento del día">
                Momento del Día
            </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown">
            <button ngbDropdownItem>
                <img src="../../../assets/img/icons/Almuerzo.svg" alt="almuerzo">
                Almuerzo
            </button>
            <button ngbDropdownItem>
                <img src="../../../assets/img/icons/Pizza.svg" alt="cena">
                Cena
            </button>
            <button ngbDropdownItem>
                <img src="../../../assets/img/icons/Desayuno.svg" alt="desayuno">
                Desayuno
            </button>
            <button ngbDropdownItem>
                <img src="../../../assets/img/icons/Te.svg" alt="la once">
                La Once
            </button>
          </div>
        </div>
      </div>   
</div>
