.title-icon{
    width: 4rem;
    margin-right: 1rem;
}

.list-icon{
    width: 3rem;
    height: 4.25rem;
    margin-right: 2rem;
}

.filter-type, .editbtn-s{
  font-family: "apex-sans-book-regular";
  font-size: 0.8rem;
  color: #333333;
  background-color: #F3F1F1;
  width: 15rem;
}

.filter-type{
    height: 4.25rem;
}

.filter-type:hover{
    background-color: #333333;
    color: #F3F1F1;
}

.list-icon:hover{
    color: #F3F1F1 !important;
}

.editbtn-s{
    border-radius: 8px;
    height: 4.75rem;
}

.editbtn-s:focus{
    outline:none !important;
    border: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}





/* @media only screen and (max-width: 400px) {
    img {
     width: 26px;
     height: 24px;
    }
}
 */
