<div class="d-flex justify-content-center">
<div class="card mb-3"*ngFor="let recipeDetail of recipesDetails; index as i" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <!-- <iframe src="{{recipeDetail.video}}" frameborder="0"></iframe> --><!--  Da error ;_;-->
      <img src="..." class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <p class="card-text">{{recipeDetail.category}}</p>
        <h5 class="card-title">{{recipeDetail.name}}</h5>
        <p class="card-text">{{recipeDetail.description}}</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
</div>

