<div class="content-fluid search-s">
<div class="col">

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 order-2">
          <div class="p-5">
            <img class="img-fluid" src="https://raw.githubusercontent.com/LiRizo/souplovers-h-scl013/3bab258125cd325818347845e91cf36706b81876/src/assets/img/imagesU/search-banner.svg" alt="">
          </div>
        </div>
        <div class="col-md-6 order-1">
          <div class="p-5">
            <h2 class="display-5 edit-h2-s">El supermercado de los Chilenos</h2>

            <h1 class="display-6 edit-h1-s">Las recetas más ricas y económicas para todos los chilenos </h1>

              <form class="form-inline ml-auto">
                <div class="md-form my-0">
                  <input class="form-control formsearch-s" type="text" placeholder="Busca tu receta favorita" aria-label="Buscar" #searchText>
                </div>
                <button class="btn btn-md my-0 ml-sm-2 editbtn-s" type="button" (click)="search(searchText.value)">Buscar</button>
              </form>

          </div>
        </div>
      </div>
    </div>
  </section>

</div>
</div>
