.dire-cs{
width: 100%;

}
.edit-h1-s{
  display: flex;
  font-family: "Clarendon-Regular", serif;
  color: #2F2C2C;
}
.editcs{
  display: flex;
  width: 15rem;
  margin: 2rem;
}
.img-cs{
display: flex;
width: 14.9rem;
height: 12rem;
}
.tagO{
  position: absolute;
  background: #DA291C;
  color: #f7f7f7;
}

.tagV{
  background: #0D701C;
  position: absolute;
  color: #f7f7f7;
}
.titlecard-s{
  font-family: "Clarendon-Regular", serif;
  color: #2F2C2C;
}
.textcard-s{
  font-family: "apex-sans-book-regular";
  color: #2F2C2C;
}
.heart-s{
  display: flex;
  width: 2rem;
}

