.dire-cs{
  width: 100%;
display: flex;
}
.editcs{
  display: flex;
  width: 18rem;
  margin: 2rem;

}

.img-cs{
display: flex;
width: 18rem;
height: 12rem;
}

.b-tagcs{
  position: absolute;
  background: #DA291C;
  color: #f7f7f7;
}
