<div class="container-fluid">
  <div class="d-flex justify-content-center">

    <div class="row my-flex-card">

          <div class="card mb-2 editcs" *ngFor="let item of items; let i = index;">
            <div class="img-cs"> <img src="{{item.image}}" class="card-img-top w-100" style="object-fit: cover;" alt="{{item.name}}"> </div>

            <div class="card-body">
              <h5 class="card-title">{{item.name}}</h5>
              <p class="card-text">{{item.description}}</p>
              <div class="row">
              <img src="{{item.icon}}" class="ml-4" style="width: 3rem;" alt="{{item.icon}}">
              <p class="card-text ml-4"><small class="text-muted text-right">{{item.time}} </small></p>
              <p class="card-text ml-4"><small class="text-muted text-right"> {{item.portions}}</small></p>
            </div>
            </div>
          </div>

    </div>

  </div>
</div>
